In [9]:
import fastf1
import pandas as pd
import numpy as np

In [10]:
#Obtención de todos los circuitos en csv

circuitos = pd.read_csv("../circuits/circuits_2022.csv")
circuitos

,circuitId,url,circuitName,Location/lat,Location/long,Location/locality,Location/country
0,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia
1,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,30.1328,-97.64110,Austin,USA
2,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.51060,Sakhir,Bahrain
3,baku,http://en.wikipedia.org/wiki/Baku_City_Circuit,Baku City Circuit,40.3725,49.85330,Baku,Azerbaijan
4,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.5700,2.26111,Montmeló,Spain
5,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.24860,Budapest,Hungary
6,imola,http://en.wikipedia.org/wiki/Autodromo_Enzo_e_...,Autodromo Enzo e Dino Ferrari,44.3439,11.71670,Imola,Italy
7,interlagos,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...,Autódromo José Carlos Pace,-23.7036,-46.69970,São Paulo,Brazil
8,jeddah,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...,Jeddah Corniche Circuit,21.6319,39.10440,Jeddah,Saudi Arabia
9,marina_bay,http://en.wikipedia.org/wiki/Marina_Bay_Street...,Marina Bay Street Circuit,1.2914,103.86400,Marina Bay,Singapore
10,miami,http://en.wikipedia.org/wiki/Miami_Internation...,Miami International Autodrome,25.9581,-80.23890,Miami,USA
11,monaco,http://en.wikipedia.org/wiki/Circuit_de_Monaco,Circuit de Monaco,43.7347,7.42056,Monte-Carlo,Monaco
12,monza,http://en.wikipedia.org/wiki/Autodromo_Naziona...,Autodromo Nazionale di Monza,45.6156,9.28111,Monza,Italy
13,red_bull_ring,http://en.wikipedia.org/wiki/Red_Bull_Ring,Red Bull Ring,47.2197,14.76470,Spielberg,Austria
14,ricard,http://en.wikipedia.org/wiki/Paul_Ricard_Circuit,Circuit Paul Ricard,43.2506,5.79167,Le Castellet,France
15,rodriguez,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_He...,Autódromo Hermanos Rodríguez,19.4042,-99.09070,Mexico City,Mexico
16,silverstone,http://en.wikipedia.org/wiki/Silverstone_Circuit,Silverstone Circuit,52.0786,-1.01694,Silverstone,UK
17,spa,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium
18,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.54100,Suzuka,Japan
19,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5000,-73.52280,Montreal,Canada
20,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.60310,Abu Dhabi,UAE
21,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

In [11]:
#Limpiamos el dataframe de circuitos
print("Circuitos disponibles: ")
circuitos = circuitos.drop(['url', 'Location/lat', 'Location/long', 'Location/locality'], axis = 1)
print(circuitos['Location/country'].to_string(index=False))
nombreCircuito = input("Introduce el pais de un Gran Premio: ")
anyoGp = 2022

Circuitos disponibles:
   Australia
         USA
     Bahrain
  Azerbaijan
       Spain
     Hungary
       Italy
      Brazil
Saudi Arabia
   Singapore
         USA
      Monaco
       Italy
     Austria
      France
      Mexico
          UK
     Belgium
       Japan
      Canada
         UAE
 Netherlands
Introduce el pais de un Gran Premio: Mexico

In [12]:
#Creamos un nuevo dataframe con el nombre, la localidad y el nivel de desgaste que pueden tener los neumaticos
circuitos_desgaste = circuitos.drop(['circuitId'], axis=1)
circuitos_desgaste

                       circuitName Location/country
0   Albert Park Grand Prix Circuit        Australia
1          Circuit of the Americas              USA
2    Bahrain International Circuit          Bahrain
3                Baku City Circuit       Azerbaijan
4   Circuit de Barcelona-Catalunya            Spain
5                      Hungaroring          Hungary
6    Autodromo Enzo e Dino Ferrari            Italy
7       Autódromo José Carlos Pace           Brazil
8          Jeddah Corniche Circuit     Saudi Arabia
9        Marina Bay Street Circuit        Singapore
10   Miami International Autodrome              USA
11               Circuit de Monaco           Monaco
12    Autodromo Nazionale di Monza            Italy
13                   Red Bull Ring          Austria
14             Circuit Paul Ricard           France
15    Autódromo Hermanos Rodríguez           Mexico
16             Silverstone Circuit               UK
17    Circuit de Spa-Francorchamps          Belgium
18                  Suzuka Circuit            Japan
19       Circuit Gilles Villeneuve           Canada
20              Yas Marina Circuit              UAE
21          Circuit Park Zandvoort      Netherlands

In [13]:
#Creamos una lista con el nivel de desgaste, fuente PIRELLI F1 2022
desgaste = ['Bajo', 'Alto', 'Alto', 'Bajo', 'Alto', 'Bajo', 'Medio', 'Medio', 'Bajo', 'Bajo', 'Bajo', 'Medio', 'Medio', 'Medio', 'Medio', 'Bajo', 'Medio', 'Alto', 'Medio', 'Bajo', 'Medio', 'Medio']
circuitos_desgaste['desgaste'] = desgaste
circuitos_desgaste
vueltas_circuito = ['58', '56', '57', '51', '66', '70', '63', '71', '50', '61', '57', '78', '53', '71', '53', '71', '52', '44', '53', '70', '58', '72']
circuitos_desgaste['vueltas_totales'] = vueltas_circuito
circuitos_desgaste
km_circuito = ['307.574', '308.405', '308.238', '306.049', '307.104', '306.630', '309.049', '305.879', '308.450', '308.706', '308.326', '260.286', '306.720', '306.452', '309.690', '305.354', '306.198', '308.052', '307.471', '305.270', '305.355', '306.648']
circuitos_desgaste['km_total'] = km_circuito
circuitos_desgaste

#Vamos a sacarlo en un csv
#circuitos_desgaste.to_csv("../circuits/circuitosFinal.csv", index=False)

,circuitName,Location/country,desgaste,vueltas_totales,km_total
0,Albert Park Grand Prix Circuit,Australia,Bajo,58,307.574
1,Circuit of the Americas,USA,Alto,56,308.405
2,Bahrain International Circuit,Bahrain,Alto,57,308.238
3,Baku City Circuit,Azerbaijan,Bajo,51,306.049
4,Circuit de Barcelona-Catalunya,Spain,Alto,66,307.104
5,Hungaroring,Hungary,Bajo,70,306.630
6,Autodromo Enzo e Dino Ferrari,Italy,Medio,63,309.049
7,Autódromo José Carlos Pace,Brazil,Medio,71,305.879
8,Jeddah Corniche Circuit,Saudi Arabia,Bajo,50,308.450
9,Marina Bay Street Circuit,Singapore,Bajo,61,308.706
10,Miami International Autodrome,USA,Bajo,57,308.326
11,Circuit de Monaco,Monaco,Medio,78,260.286
12,Autodromo Nazionale di Monza,Italy,Medio,53,306.720
13,Red Bull Ring,Austria,Medio,71,306.452
14,Circuit Paul Ricard,France,Medio,53,309.690
15,Autódromo Hermanos Rodríguez,Mexico,Bajo,71,305.354
16,Silverstone Circuit,UK,Medio,52,306.198
17,Circuit de Spa-Francorchamps,Belgium,Alto,44,308.052
18,Suzuka Circuit,Japan,Medio,53,307.471
19,Circuit Gilles Villeneuve,Canada,Bajo,70,305.270
20,Yas Marina Circuit,UAE,Medio,58,305.355
21,Circuit Park Zandvoort,Netherlands,Medio,72,306.648

In [14]:
#Vamos entonces a crear un dataframe para un piloto en una determinada 
#carrera, por ejemplo, Fernando Alonso y Monaco 2022
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) #Omitimos los future warning

fastf1.Cache.enable_cache('../cache') # Para cachear los datos y no tener que bajarlos todo el tiempo

#A continuacion, nos guardamos la sesión en una variable de tipo sesion

race = fastf1.get_session(anyoGp, nombreCircuito, 'R')
race.load(weather=True, telemetry= True)

core           INFO 	Loading data for Mexico City Grand Prix - Race [v2.3.0]
api            INFO 	No cached data found for driver_info. Loading data...
api            INFO 	Fetching driver list...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for timing_data. Loading data...
api            INFO 	Fetching timing data...
api            INFO 	Parsing timing data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for timing_app_data. Loading data...
api            INFO 	Fetching timing app data...
api            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
api            INFO 	No cached data found for session_status_data. Loading data...
api            INFO 	Fetching session status data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for track_status_data. Loading data...
api            INFO 	Fetching track status data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for car_data. Loading data...
api            INFO 	Fetching car data...
api            INFO 	Parsing car data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for position_data. Loading data...
api            INFO 	Fetching position data...
api            INFO 	Parsing position data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for weather_data. Loading data...
api            INFO 	Fetching weather data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for race_control_messages. Loading data...
api            INFO 	Fetching race control messages...
api            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['1', '44', '11', '63', '55', '16', '3', '31', '4', '77', '10', '23', '24', '5', '18', '47', '20', '6', '14', '22']

In [15]:
print("Pilotos disponibles: ")
race.results['Abbreviation']
print(race.results['Abbreviation'].to_string(index=False))
nombrePiloto = input("Introduce un piloto: ")

Pilotos disponibles:
VER
HAM
PER
RUS
SAI
LEC
RIC
OCO
NOR
BOT
GAS
ALB
ZHO
VET
STR
MSC
MAG
LAT
ALO
TSU
Introduce un piloto: ALO

In [16]:


#Creamos un diccionario para tener los nombres de los pilotos en Ergast y en FastF1 (para poder sacar la posicion por cada vuelta)
#ya que la api tiene la pinta del valor y fastf1 tiene la pinta de la clave (en el diccionario)
pilotosDic = {"HAM":"hamilton", "VER":"max_verstappen", "BOT": "bottas", "NOR":"norris", "PER":"perez", "LEC":"leclerc",
             "RIC":"ricciardo", "SAI":"sainz", "TSU":"tsunoda", "STR":"stroll", "RAI":"raikkonen", "GIO":"giovinazi",
              "OCO":"ocon", "RUS":"russel", "VET":"vettel", "MSC":"mick_schumacher", "GAS":"GASLY", "LAT":"latifi",
             "ALO":"alonso", "MAZ":"mazepin"}
print(pilotosDic["VER"])

max_verstappen

In [17]:
#Nos interesa saber el numero de vueltas que dio Alonso en Barcelona 2022


laps_race_pilot = race.laps.pick_driver(nombrePiloto)
weather = race.weather_data # Cogemos tambien el tiempo que hizo al inicio de la carrera
weather

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:09.022000,22.8,41.0,781.7,False,44.1,229,1.7
1,0 days 00:01:09.020000,22.8,42.0,781.7,False,43.9,112,0.8
2,0 days 00:02:09.034000,22.9,40.0,781.7,False,44.0,108,1.3
3,0 days 00:03:09.024000,23.1,40.0,781.7,False,45.2,95,1.7
4,0 days 00:04:09.022000,23.3,40.0,781.7,False,45.2,116,0.8
...,...,...,...,...,...,...,...,...
160,0 days 02:40:09.411000,24.8,31.0,779.5,False,37.8,0,0.6
161,0 days 02:41:09.414000,25.0,31.0,779.5,False,37.8,274,1.1
162,0 days 02:42:09.411000,25.0,32.0,779.5,False,38.1,231,1.2
163,0 days 02:43:09.411000,25.1,31.0,779.5,False,38.2,293,1.1
164,0 days 02:44:09.409000,25.2,31.0,779.7,False,38.4,157,1.5

In [18]:
laps_race_pilot

,Time,DriverNumber,LapTime,LapNumber,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,...,Compound,TyreLife,FreshTyre,Stint,LapStartTime,Team,Driver,TrackStatus,IsAccurate,LapStartDate
1265,0 days 01:03:38.083000,14,NaT,1,0 days 00:25:52.299000,NaT,NaT,0 days 00:00:35.152000,0 days 00:00:22.077000,NaT,...,MEDIUM,1.0,True,1,0 days 01:02:06.736000,Alpine,ALO,1,False,2022-10-30 20:03:06.747
1266,0 days 01:05:03.270000,14,0 days 00:01:25.187000,2,NaT,NaT,0 days 00:00:30.079000,0 days 00:00:33.330000,0 days 00:00:21.778000,0 days 01:04:08.162000,...,MEDIUM,2.0,True,1,0 days 01:03:38.083000,Alpine,ALO,1,True,2022-10-30 20:04:38.094
1267,0 days 01:06:28.048000,14,0 days 00:01:24.778000,3,NaT,NaT,0 days 00:00:30.020000,0 days 00:00:33.112000,0 days 00:00:21.646000,0 days 01:05:33.290000,...,MEDIUM,3.0,True,1,0 days 01:05:03.270000,Alpine,ALO,1,True,2022-10-30 20:06:03.281
1268,0 days 01:07:52.902000,14,0 days 00:01:24.854000,4,NaT,NaT,0 days 00:00:29.889000,0 days 00:00:33.225000,0 days 00:00:21.740000,0 days 01:06:57.937000,...,MEDIUM,4.0,True,1,0 days 01:06:28.048000,Alpine,ALO,1,True,2022-10-30 20:07:28.059
1269,0 days 01:09:17.758000,14,0 days 00:01:24.856000,5,NaT,NaT,0 days 00:00:30.103000,0 days 00:00:33.022000,0 days 00:00:21.731000,0 days 01:08:23.005000,...,MEDIUM,5.0,True,1,0 days 01:07:52.902000,Alpine,ALO,1,True,2022-10-30 20:08:52.913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,0 days 02:25:35.255000,14,0 days 00:01:27.928000,59,NaT,NaT,0 days 00:00:31.235000,0 days 00:00:33.532000,0 days 00:00:23.161000,0 days 02:24:38.562000,...,HARD,19.0,True,2,0 days 02:24:07.327000,Alpine,ALO,1,True,2022-10-30 21:25:07.338
1324,0 days 02:27:01.671000,14,0 days 00:01:26.416000,60,NaT,NaT,0 days 00:00:30.762000,0 days 00:00:33.542000,0 days 00:00:22.112000,0 days 02:26:06.017000,...,HARD,20.0,True,2,0 days 02:25:35.255000,Alpine,ALO,1,True,2022-10-30 21:26:35.266
1325,0 days 02:28:27.331000,14,0 days 00:01:25.660000,61,NaT,NaT,0 days 00:00:30.520000,0 days 00:00:33.055000,0 days 00:00:22.085000,0 days 02:27:32.191000,...,HARD,21.0,True,2,0 days 02:27:01.671000,Alpine,ALO,1,True,2022-10-30 21:28:01.682
1326,0 days 02:29:52.258000,14,0 days 00:01:24.927000,62,NaT,NaT,0 days 00:00:30.175000,0 days 00:00:32.753000,0 days 00:00:21.999000,0 days 02:28:57.506000,...,HARD,22.0,True,2,0 days 02:28:27.331000,Alpine,ALO,1,True,2022-10-30 21:29:27.342
1327,0 days 02:31:17.134000,14,0 days 00:01:24.876000,63,NaT,NaT,0 days 00:00:30.390000,0 days 00:00:32.740000,0 days 00:00:21.746000,0 days 02:30:22.648000,...,HARD,23.0,True,2,0 days 02:29:52.258000,Alpine,ALO,1,True,2022-10-30 21:30:52.269

In [127]:
#Limpiamos el dataset con solo lo que nos interesa

laps_race_pilot = laps_race_pilot.filter(['Time', 'LapTime', 'LapNumber', 'Compound', 'TyreLife', 'FreshTyre', 'TrackStatus', 'Stint', 'PitInTime'])
laps_race_pilot

,Time,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime
12,0 days 04:19:33.897000,NaT,1,UNKNOWN,3.0,False,1,1,NaT
13,0 days 04:22:52.420000,NaT,2,UNKNOWN,4.0,False,1,1,NaT
14,0 days 04:26:20.875000,NaT,3,UNKNOWN,5.0,False,1,1,0 days 04:26:14.189000

In [128]:
#De aqui solo queremos la temperatura de la pista, la temperatura ambiente y si llovía o no 
#Importante, hacemos match de la columna time, o ponemos simplemente el tiempo que hacia en la salida????
weather = weather.filter(['Time', 'AirTemp', 'Humidity', 'Rainfall', 'TrackTemp'])
weather

                      Time  AirTemp  Humidity  Rainfall  TrackTemp
0   0 days 00:00:16.061000     12.5      95.6      True       14.7
1   0 days 00:01:16.061000     12.5      95.5      True       14.8
2   0 days 00:02:16.063000     12.5      95.4      True       14.9
3   0 days 00:03:16.062000     12.5      95.4      True       14.9
4   0 days 00:04:16.058000     12.5      95.4      True       14.9
..                     ...      ...       ...       ...        ...
285 0 days 04:45:16.821000     13.3      97.2      True       15.0
286 0 days 04:46:16.815000     13.3      96.9      True       15.0
287 0 days 04:47:16.814000     13.3      96.9     False       15.0
288 0 days 04:48:16.815000     13.3      97.0      True       15.0
289 0 days 04:49:16.818000     13.3      96.8      True       15.1

[290 rows x 5 columns]

In [129]:
weather['Time'] = weather['Time'].astype(str)
weather

                       Time  AirTemp  Humidity  Rainfall  TrackTemp
0    0 days 00:00:16.061000     12.5      95.6      True       14.7
1    0 days 00:01:16.061000     12.5      95.5      True       14.8
2    0 days 00:02:16.063000     12.5      95.4      True       14.9
3    0 days 00:03:16.062000     12.5      95.4      True       14.9
4    0 days 00:04:16.058000     12.5      95.4      True       14.9
..                      ...      ...       ...       ...        ...
285  0 days 04:45:16.821000     13.3      97.2      True       15.0
286  0 days 04:46:16.815000     13.3      96.9      True       15.0
287  0 days 04:47:16.814000     13.3      96.9     False       15.0
288  0 days 04:48:16.815000     13.3      97.0      True       15.0
289  0 days 04:49:16.818000     13.3      96.8      True       15.1

[290 rows x 5 columns]

In [130]:
#Modificamos la columna de Time, para que solo nos muestre la hora y el minuto, esto es para
#que casen las keys al hacer el join y podamos tener info de la temperatura minuto a minuto en las vueltas
weather['Time'] = weather["Time"].apply(lambda x: x[7:12])
weather

      Time  AirTemp  Humidity  Rainfall  TrackTemp
0    00:00     12.5      95.6      True       14.7
1    00:01     12.5      95.5      True       14.8
2    00:02     12.5      95.4      True       14.9
3    00:03     12.5      95.4      True       14.9
4    00:04     12.5      95.4      True       14.9
..     ...      ...       ...       ...        ...
285  04:45     13.3      97.2      True       15.0
286  04:46     13.3      96.9      True       15.0
287  04:47     13.3      96.9     False       15.0
288  04:48     13.3      97.0      True       15.0
289  04:49     13.3      96.8      True       15.1

[290 rows x 5 columns]

In [131]:
#Hacemos lo mismo para la columa Time de las vueltas
laps_race_pilot['Time'] = laps_race_pilot['Time'].astype(str)
laps_race_pilot['Time'] = laps_race_pilot["Time"].apply(lambda x: x[7:12])
laps_race_pilot

,Time,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime
12,04:19,NaT,1,UNKNOWN,3.0,False,1,1,NaT
13,04:22,NaT,2,UNKNOWN,4.0,False,1,1,NaT
14,04:26,NaT,3,UNKNOWN,5.0,False,1,1,0 days 04:26:14.189000

In [132]:
#Hacemos el join para meter en el mismo dataset, la imformacion en cada vuelta de la temperatura ambiente y de la pista

laps_race_pilot = laps_race_pilot.set_index('Time').join(weather.set_index('Time'))

In [133]:
laps_race_pilot['LapTime'] = laps_race_pilot['LapTime'].astype(str)
laps_race_pilot["LapTime"] = laps_race_pilot["LapTime"].apply(lambda x: x[10:19] if x!="NaT" else '0')
laps_race_pilot

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime,AirTemp,Humidity,Rainfall,TrackTemp
Time,,,,,,,,,,,,
04:19,0,1,UNKNOWN,3.0,False,1,1,NaT,13.3,96.6,True,15.3
04:22,0,2,UNKNOWN,4.0,False,1,1,NaT,13.4,96.5,True,15.2
04:26,0,3,UNKNOWN,5.0,False,1,1,0 days 04:26:14.189000,13.4,96.8,True,15.3

In [134]:
#Para la posicion de salida
#posicion_salida = race.get_driver(nombrePiloto)['GridPosition']
#posicion_salida
race.get_driver(nombrePiloto)

DriverNumber                          5
BroadcastName                  S VETTEL
Abbreviation                        VET
TeamName                   Aston Martin
TeamColor                        006F62
FirstName                     Sebastian
LastName                         Vettel
FullName               Sebastian Vettel
Position                            5.0
GridPosition                        5.0
Q1                                  NaT
Q2                                  NaT
Q3                                  NaT
Time             0 days 00:03:34.550000
Status                         Finished
Points                              5.0
Name: Sebastian, dtype: object

In [135]:
#Necesitamos ahora los outputs, que es la siguiente vuelta a parar
vueltas_parada = laps_race_pilot[laps_race_pilot['PitInTime'].notna()]
vueltas_parada

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime,AirTemp,Humidity,Rainfall,TrackTemp
Time,,,,,,,,,,,,
04:26,0,3,UNKNOWN,5.0,False,1,1,0 days 04:26:14.189000,13.4,96.8,True,15.3

In [136]:
nVuelta_parada = vueltas_parada['LapNumber']
nParadas = 0
paradas = []
for i in nVuelta_parada:
    paradas.append(i)
    nParadas = nParadas + 1


print("El numero de paradas ha sido: ", nParadas)

print("Las paradas han sido en las vueltas: ", paradas)

El numero de paradas ha sido:  1
Las paradas han sido en las vueltas:  [3]

In [137]:
#Eliminanos la variable de la hora a la que entra a box porque ya no es necesaria
laps_race_pilot.drop(['PitInTime'], axis = 1, inplace=True)

In [138]:
nVueltasDadas = int(laps_race_pilot.tail(1)['LapNumber'].iloc[0])
nVueltasDadas

3

In [139]:
#Ahora hay que añadir al dataframe las variables
# - Posicion de salida
# - Siguiente parada (dependera de la vuelta en la que se encuentre)
# - Todas variables del circuito en el que nos encontramos, en este caso Barcelona
# - No creo que haga falta el piloto, las estrategias son independientes del piloto (o eso voy a pensar... que no será asi)
circuito_actual = circuitos_desgaste.loc[circuitos_desgaste['Location/country'].str.lower() == nombreCircuito.lower()]
circuito_actual = circuito_actual.filter(['circuitName', 'desgaste', 'vueltas_totales', 'km_total'])
circuito_actual

                     circuitName desgaste vueltas_totales km_total
17  Circuit de Spa-Francorchamps     Alto              44  308.052

In [140]:
#Ahora hay que introducir la columna posicionActual que es la posicion que ocupa un piloto por cada paso por meta3#
#para cada una de las vueltas que un piloto dio en un determinado gran premio
#Para elllo hay que construir la llamada a la API de Ergast, que tiene esta pinta:
# http://ergast.com/api/f1/2022/1/drivers/alonso/laps/19
#Necesitamos el numero de ronda, el año del gp, el numero de vuelta y el nombre del piloto
import requests
import json
import time
roundNumber = race.event.RoundNumber
pilotoNombre=pilotosDic[nombrePiloto]
posicionesList = []
pilotoDelanteList = []
tiempoPilotoDelanteList = []
pilotoDetrasList = []
tiempoPilotoDetrasList = []


#Llamada a api de posiciones
api = "http://ergast.com/api/f1/" + str(anyoGp) + "/" + str(roundNumber) + "/drivers/" +pilotoNombre + "/laps.json?limit=100"
response = requests.get(api)
posiciones_dict = json.loads(response.text)
#Llamada a api de pilotos y tiempo
api = "http://ergast.com/api/f1/" + str(anyoGp) + "/" + str(roundNumber) + "/" + "laps.json?limit=4000"
response = requests.get(api)
pilotos_dict = json.loads(response.text)
    
#El numero de vuelta es una iteracion a cada fila dell dataframe de vueltas del piloto

for nVuelta in range (0, nVueltasDadas):
    #Para la posicion por cada vuelta
    posicion = posiciones_dict['MRData']['RaceTable']['Races'][0]['Laps'][nVuelta]['Timings'][0]['position']
    posicionesList.append(posicion)
    
    #Para el piloto de delante y su tiempo en cada vuelta
    pilotoDelante = pilotos_dict['MRData']['RaceTable']['Races'][0]['Laps'][nVuelta]['Timings'][int(posicion)-2]['driverId']
    tiempoPilotoDelante = pilotos_dict['MRData']['RaceTable']['Races'][0]['Laps'][nVuelta]['Timings'][int(posicion)-2]['time']
    pilotoDelanteList.append(pilotoDelante)
    tiempoPilotoDelanteList.append(tiempoPilotoDelante)  
    
    #Para el piloto de detras y su tiempo en cada vuelta
    pilotoDetras = pilotos_dict['MRData']['RaceTable']['Races'][0]['Laps'][nVuelta]['Timings'][int(posicion)+2]['driverId']
    tiempoPilotoDetras = pilotos_dict['MRData']['RaceTable']['Races'][0]['Laps'][nVuelta]['Timings'][int(posicion)+2]['time']
    pilotoDetrasList.append(pilotoDetras)
    tiempoPilotoDetrasList.append(tiempoPilotoDetras)  
    
    
    

laps_race_pilot['posicionActual'] = posicionesList
laps_race_pilot['pilotoDelante'] = pilotoDelanteList
laps_race_pilot['tiempoPilotoDelante'] = tiempoPilotoDelanteList
laps_race_pilot['pilotoDetras'] = pilotoDetrasList
laps_race_pilot['tiempoPilotoDetras'] = tiempoPilotoDetrasList

laps_race_pilot

IndexError: list index out of range

In [141]:
roundNumber

12

In [ ]:
#Hay que hacer una funcion para sacar el numero de vueltas (nVueltas) que se ha dado en ese circuito, y repetir nVueltas para crear una lista con el valor
nVueltasCircuito=laps_race_pilot.tail(1).LapNumber.values[0]
circuitName = circuito_actual.circuitName.values[0]
desgaste = circuito_actual.desgaste.values[0]
km_total = circuito_actual.km_total.values[0]
vueltas_totales = circuito_actual.vueltas_totales.values[0]
desgaste

In [ ]:
posicion_salida = race.get_driver(nombrePiloto)['GridPosition']

#La salida se la tenemos que meter a todas las filas del dataframe
laps_race_pilot['posicionSalida'] = posicion_salida
#laps_race_pilot['circuitName'] = circuitName
#laps_race_pilot['desgasteCircuito'] = desgaste
#laps_race_pilot['vueltasCircuito'] = vueltas_totales
#laps_race_pilot['kmCircuitoTotales'] = km_total

laps_race_pilot

In [ ]:
#Ahora hay que meter las paradas, habria que añadir una columna con la siguiente parada, dependiendo de la vuelta en la que se encuentre
paradas_list = paradas
paradas_list

In [ ]:
#En cada intervalo de ventana de parada, se añade la siguiente parada de acuerdo con el numero de vuelta en el que vamos
#Es decir, del intervalo 1-9, el valor de la siguiente parada es 10, del 10-30, el valor es 31, y así
#NOTA: Cuando se hace la ultima parada, ¿cual debe ser el valor del la siguiente parada? ¿El numero de fin de vuelta?


inserciones = 1
paradasList_insertar = []
for i in paradas_list:
        while (inserciones <= i):
            paradasList_insertar.append(i)
            inserciones = inserciones + 1
            if (inserciones == paradas_list[nParadas-1]):
                while inserciones <= nVueltasCircuito:
                    paradasList_insertar.append(nVueltasCircuito)
                    inserciones = inserciones + 1
paradasList_insertar
len(paradasList_insertar)

In [ ]:
#Insertamos la nueva columna
laps_race_pilot['nextPit'] = paradasList_insertar
laps_race_pilot

En principio, ahora tenemos el dataset para:

- Un piloto
- En un gran premio
- Durante todas sus vueltas

In [ ]:
laps_race_pilot.to_csv("../datasets_completos/laps_" + nombreCircuito + "_" + nombrePiloto  +"_" +str(anyoGp)+ ".csv", index=False)