In [1]:
import fastf1
import pandas as pd

In [2]:
#Obtención de todos los circuitos en csv

circuitos = pd.read_csv("../circuits/circuits_2022.csv")
circuitos

,circuitId,url,circuitName,Location/lat,Location/long,Location/locality,Location/country
0,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia
1,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,30.1328,-97.64110,Austin,USA
2,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.51060,Sakhir,Bahrain
3,baku,http://en.wikipedia.org/wiki/Baku_City_Circuit,Baku City Circuit,40.3725,49.85330,Baku,Azerbaijan
4,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.5700,2.26111,Montmeló,Spain
5,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.24860,Budapest,Hungary
6,imola,http://en.wikipedia.org/wiki/Autodromo_Enzo_e_...,Autodromo Enzo e Dino Ferrari,44.3439,11.71670,Imola,Italy
7,interlagos,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...,Autódromo José Carlos Pace,-23.7036,-46.69970,São Paulo,Brazil
8,jeddah,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...,Jeddah Corniche Circuit,21.6319,39.10440,Jeddah,Saudi Arabia
9,marina_bay,http://en.wikipedia.org/wiki/Marina_Bay_Street...,Marina Bay Street Circuit,1.2914,103.86400,Marina Bay,Singapore
10,miami,http://en.wikipedia.org/wiki/Miami_Internation...,Miami International Autodrome,25.9581,-80.23890,Miami,USA
11,monaco,http://en.wikipedia.org/wiki/Circuit_de_Monaco,Circuit de Monaco,43.7347,7.42056,Monte-Carlo,Monaco
12,monza,http://en.wikipedia.org/wiki/Autodromo_Naziona...,Autodromo Nazionale di Monza,45.6156,9.28111,Monza,Italy
13,red_bull_ring,http://en.wikipedia.org/wiki/Red_Bull_Ring,Red Bull Ring,47.2197,14.76470,Spielberg,Austria
14,ricard,http://en.wikipedia.org/wiki/Paul_Ricard_Circuit,Circuit Paul Ricard,43.2506,5.79167,Le Castellet,France
15,rodriguez,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_He...,Autódromo Hermanos Rodríguez,19.4042,-99.09070,Mexico City,Mexico
16,silverstone,http://en.wikipedia.org/wiki/Silverstone_Circuit,Silverstone Circuit,52.0786,-1.01694,Silverstone,UK
17,spa,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium
18,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.54100,Suzuka,Japan
19,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5000,-73.52280,Montreal,Canada
20,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.60310,Abu Dhabi,UAE
21,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

In [5]:
#Limpiamos el dataframe de circuitos
circuitos = circuitos.drop(['url', 'Location/lat', 'Location/long', 'Location/country'], axis = 1)
circuitos

        circuitId                     circuitName Location/locality
0     albert_park  Albert Park Grand Prix Circuit         Melbourne
1        americas         Circuit of the Americas            Austin
2         bahrain   Bahrain International Circuit            Sakhir
3            baku               Baku City Circuit              Baku
4       catalunya  Circuit de Barcelona-Catalunya          Montmeló
5     hungaroring                     Hungaroring          Budapest
6           imola   Autodromo Enzo e Dino Ferrari             Imola
7      interlagos      Autódromo José Carlos Pace         São Paulo
8          jeddah         Jeddah Corniche Circuit            Jeddah
9      marina_bay       Marina Bay Street Circuit        Marina Bay
10          miami   Miami International Autodrome             Miami
11         monaco               Circuit de Monaco       Monte-Carlo
12          monza    Autodromo Nazionale di Monza             Monza
13  red_bull_ring                   Red Bull Ring         Spielberg
14         ricard             Circuit Paul Ricard      Le Castellet
15      rodriguez    Autódromo Hermanos Rodríguez       Mexico City
16    silverstone             Silverstone Circuit       Silverstone
17            spa    Circuit de Spa-Francorchamps               Spa
18         suzuka                  Suzuka Circuit            Suzuka
19     villeneuve       Circuit Gilles Villeneuve          Montreal
20     yas_marina              Yas Marina Circuit         Abu Dhabi
21      zandvoort          Circuit Park Zandvoort         Zandvoort

In [6]:
#Creamos un nuevo dataframe con el nombre, la localidad y el nivel de desgaste que pueden tener los neumaticos
circuitos_desgaste = circuitos.drop(['circuitId'], axis=1)
circuitos_desgaste

                       circuitName Location/locality
0   Albert Park Grand Prix Circuit         Melbourne
1          Circuit of the Americas            Austin
2    Bahrain International Circuit            Sakhir
3                Baku City Circuit              Baku
4   Circuit de Barcelona-Catalunya          Montmeló
5                      Hungaroring          Budapest
6    Autodromo Enzo e Dino Ferrari             Imola
7       Autódromo José Carlos Pace         São Paulo
8          Jeddah Corniche Circuit            Jeddah
9        Marina Bay Street Circuit        Marina Bay
10   Miami International Autodrome             Miami
11               Circuit de Monaco       Monte-Carlo
12    Autodromo Nazionale di Monza             Monza
13                   Red Bull Ring         Spielberg
14             Circuit Paul Ricard      Le Castellet
15    Autódromo Hermanos Rodríguez       Mexico City
16             Silverstone Circuit       Silverstone
17    Circuit de Spa-Francorchamps               Spa
18                  Suzuka Circuit            Suzuka
19       Circuit Gilles Villeneuve          Montreal
20              Yas Marina Circuit         Abu Dhabi
21          Circuit Park Zandvoort         Zandvoort

In [7]:
#Creamos una lista con el nivel de desgaste, fuente PIRELLI F1 2022
desgaste = ['Bajo', 'Alto', 'Alto', 'Bajo', 'Alto', 'Bajo', 'Medio', 'Medio', 'Bajo', 'Bajo', 'Bajo', 'Medio', 'Medio', 'Medio', 'Medio', 'Bajo', 'Medio', 'Alto', 'Medio', 'Bajo', 'Medio', 'Medio']
circuitos_desgaste['desgaste'] = desgaste
circuitos_desgaste
vueltas_circuito = ['58', '56', '57', '51', '66', '70', '63', '71', '50', '61', '57', '78', '53', '71', '53', '71', '52', '44', '53', '70', '58', '72']
circuitos_desgaste['vueltas_totales'] = vueltas_circuito
circuitos_desgaste
km_circuito = ['307.574', '308.405', '308.238', '306.049', '307.104', '306.630', '309.049', '305.879', '308.450', '308.706', '308.326', '260.286', '306.720', '306.452', '309.690', '305.354', '306.198', '308.052', '307.471', '305.270', '305.355', '306.648']
circuitos_desgaste['km_total'] = km_circuito
circuitos_desgaste

,circuitName,Location/locality,desgaste,vueltas_totales,km_total
0,Albert Park Grand Prix Circuit,Melbourne,Bajo,58,307.574
1,Circuit of the Americas,Austin,Alto,56,308.405
2,Bahrain International Circuit,Sakhir,Alto,57,308.238
3,Baku City Circuit,Baku,Bajo,51,306.049
4,Circuit de Barcelona-Catalunya,Montmeló,Alto,66,307.104
5,Hungaroring,Budapest,Bajo,70,306.630
6,Autodromo Enzo e Dino Ferrari,Imola,Medio,63,309.049
7,Autódromo José Carlos Pace,São Paulo,Medio,71,305.879
8,Jeddah Corniche Circuit,Jeddah,Bajo,50,308.450
9,Marina Bay Street Circuit,Marina Bay,Bajo,61,308.706
10,Miami International Autodrome,Miami,Bajo,57,308.326
11,Circuit de Monaco,Monte-Carlo,Medio,78,260.286
12,Autodromo Nazionale di Monza,Monza,Medio,53,306.720
13,Red Bull Ring,Spielberg,Medio,71,306.452
14,Circuit Paul Ricard,Le Castellet,Medio,53,309.690
15,Autódromo Hermanos Rodríguez,Mexico City,Bajo,71,305.354
16,Silverstone Circuit,Silverstone,Medio,52,306.198
17,Circuit de Spa-Francorchamps,Spa,Alto,44,308.052
18,Suzuka Circuit,Suzuka,Medio,53,307.471
19,Circuit Gilles Villeneuve,Montreal,Bajo,70,305.270
20,Yas Marina Circuit,Abu Dhabi,Medio,58,305.355
21,Circuit Park Zandvoort,Zandvoort,Medio,72,306.648

In [8]:
#Vamos entonces a crear un dataframe para un piloto en una determinada 
#carrera, por ejemplo, Fernando Alonso y Monaco 2022
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) #Omitimos los future warning

fastf1.Cache.enable_cache('../cache') # Para cachear los datos y no tener que bajarlos todo el tiempo

#A continuacion, nos guardamos la sesión en una variable de tipo sesion

barcelona_race = fastf1.get_session(2022, 'Barcelona', 'R')
barcelona_race.load(weather=True, telemetry= True)

core           INFO 	Loading data for Spanish Grand Prix - Race [v2.3.0]
api            INFO 	Using cached data for driver_info
api            INFO 	Using cached data for timing_data
api            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
api            INFO 	Using cached data for session_status_data
api            INFO 	Using cached data for track_status_data
api            INFO 	Using cached data for car_data
api            INFO 	Using cached data for position_data
api            INFO 	Using cached data for weather_data
api            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '63', '55', '44', '77', '31', '4', '14', '22', '5', '3', '10', '47', '18', '6', '20', '23', '24', '16']

In [9]:
#Nos interesa saber el numero de vueltas que dio Alonso en Barcelona 2022


laps_barcelona_alo = barcelona_race.laps.pick_driver("ALO")
weather = barcelona_race.weather_data # Cogemos tambien el tiempo que hizo al inicio de la carrera

In [10]:
laps_barcelona_alo

,Time,DriverNumber,LapTime,LapNumber,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,...,Compound,TyreLife,FreshTyre,Stint,LapStartTime,Team,Driver,TrackStatus,IsAccurate,LapStartDate
528,0 days 01:03:52.303000,14,NaT,1,0 days 00:23:51.417000,NaT,NaT,0 days 00:00:35.842000,0 days 00:00:31.543000,NaT,...,SOFT,1.0,True,1,0 days 01:02:12.915000,Alpine,ALO,2,False,2022-05-22 13:03:12.928
529,0 days 01:05:23.235000,14,0 days 00:01:30.932000,2,NaT,NaT,0 days 00:00:25.273000,0 days 00:00:34.318000,0 days 00:00:31.341000,0 days 01:04:17.576000,...,SOFT,2.0,True,1,0 days 01:03:52.303000,Alpine,ALO,1,True,2022-05-22 13:04:52.316
530,0 days 01:06:53.808000,14,0 days 00:01:30.573000,3,NaT,NaT,0 days 00:00:25.224000,0 days 00:00:34.159000,0 days 00:00:31.190000,0 days 01:05:48.459000,...,SOFT,3.0,True,1,0 days 01:05:23.235000,Alpine,ALO,1,True,2022-05-22 13:06:23.248
531,0 days 01:08:23.435000,14,0 days 00:01:29.627000,4,NaT,NaT,0 days 00:00:24.653000,0 days 00:00:34.176000,0 days 00:00:30.798000,0 days 01:07:18.461000,...,SOFT,4.0,True,1,0 days 01:06:53.808000,Alpine,ALO,1,True,2022-05-22 13:07:53.821
532,0 days 01:09:52.609000,14,0 days 00:01:29.174000,5,NaT,NaT,0 days 00:00:24.402000,0 days 00:00:33.900000,0 days 00:00:30.872000,0 days 01:08:47.837000,...,SOFT,5.0,True,1,0 days 01:08:23.435000,Alpine,ALO,1,True,2022-05-22 13:09:23.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,0 days 02:33:48.599000,14,0 days 00:01:27.384000,61,NaT,NaT,0 days 00:00:24.457000,0 days 00:00:33.017000,0 days 00:00:29.910000,0 days 02:32:45.672000,...,SOFT,10.0,False,4,0 days 02:32:21.215000,Alpine,ALO,1,True,2022-05-22 14:33:21.228
589,0 days 02:35:16.318000,14,0 days 00:01:27.719000,62,NaT,NaT,0 days 00:00:24.480000,0 days 00:00:33.294000,0 days 00:00:29.945000,0 days 02:34:13.079000,...,SOFT,11.0,False,4,0 days 02:33:48.599000,Alpine,ALO,1,True,2022-05-22 14:34:48.612
590,0 days 02:36:43.739000,14,0 days 00:01:27.421000,63,NaT,NaT,0 days 00:00:24.258000,0 days 00:00:33.142000,0 days 00:00:30.021000,0 days 02:35:40.576000,...,SOFT,12.0,False,4,0 days 02:35:16.318000,Alpine,ALO,1,True,2022-05-22 14:36:16.331
591,0 days 02:38:12.232000,14,0 days 00:01:28.493000,64,NaT,NaT,0 days 00:00:24.416000,0 days 00:00:33.487000,0 days 00:00:30.590000,0 days 02:37:08.155000,...,SOFT,13.0,False,4,0 days 02:36:43.739000,Alpine,ALO,1,True,2022-05-22 14:37:43.752
592,0 days 02:39:40.502000,14,0 days 00:01:28.270000,65,NaT,NaT,0 days 00:00:24.504000,0 days 00:00:33.646000,0 days 00:00:30.120000,0 days 02:38:36.736000,...,SOFT,14.0,False,4,0 days 02:38:12.232000,Alpine,ALO,1,True,2022-05-22 14:39:12.245

In [11]:
#Limpiamos el dataset con solo lo que nos interesa

laps_barcelona_alo = laps_barcelona_alo.filter(['Time', 'LapTime', 'LapNumber', 'Compound', 'TyreLife', 'FreshTyre', 'TrackStatus', 'Stint', 'PitInTime'])
laps_barcelona_alo

,Time,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime
528,0 days 01:03:52.303000,NaT,1,SOFT,1.0,True,2,1,NaT
529,0 days 01:05:23.235000,0 days 00:01:30.932000,2,SOFT,2.0,True,1,1,NaT
530,0 days 01:06:53.808000,0 days 00:01:30.573000,3,SOFT,3.0,True,1,1,NaT
531,0 days 01:08:23.435000,0 days 00:01:29.627000,4,SOFT,4.0,True,1,1,NaT
532,0 days 01:09:52.609000,0 days 00:01:29.174000,5,SOFT,5.0,True,1,1,NaT
...,...,...,...,...,...,...,...,...,...
588,0 days 02:33:48.599000,0 days 00:01:27.384000,61,SOFT,10.0,False,1,4,NaT
589,0 days 02:35:16.318000,0 days 00:01:27.719000,62,SOFT,11.0,False,1,4,NaT
590,0 days 02:36:43.739000,0 days 00:01:27.421000,63,SOFT,12.0,False,1,4,NaT
591,0 days 02:38:12.232000,0 days 00:01:28.493000,64,SOFT,13.0,False,1,4,NaT
592,0 days 02:39:40.502000,0 days 00:01:28.270000,65,SOFT,14.0,False,1,4,NaT

In [12]:
#De aqui solo queremos la temperatura de la pista, la temperatura ambiente y si llovía o no 
#Importante, hacemos match de la columna time, o ponemos simplemente el tiempo que hacia en la salida????
weather = weather.filter(['Time', 'AirTemp', 'Rainfall', 'TrackTemp'])
weather

                      Time  AirTemp  Rainfall  TrackTemp
0   0 days 00:00:13.023000     36.3     False       48.3
1   0 days 00:01:13.014000     36.2     False       48.4
2   0 days 00:02:13.011000     36.1     False       48.6
3   0 days 00:03:13.038000     36.1     False       48.8
4   0 days 00:04:13.041000     36.1     False       48.8
..                     ...      ...       ...        ...
159 0 days 02:39:13.439000     36.4     False       48.1
160 0 days 02:40:13.438000     36.4     False       47.8
161 0 days 02:41:13.440000     36.6     False       47.8
162 0 days 02:42:13.432000     36.7     False       47.9
163 0 days 02:43:13.464000     36.7     False       47.6

[164 rows x 4 columns]

In [13]:
weather['Time'] = weather['Time'].astype(str)
weather

                       Time  AirTemp  Rainfall  TrackTemp
0    0 days 00:00:13.023000     36.3     False       48.3
1    0 days 00:01:13.014000     36.2     False       48.4
2    0 days 00:02:13.011000     36.1     False       48.6
3    0 days 00:03:13.038000     36.1     False       48.8
4    0 days 00:04:13.041000     36.1     False       48.8
..                      ...      ...       ...        ...
159  0 days 02:39:13.439000     36.4     False       48.1
160  0 days 02:40:13.438000     36.4     False       47.8
161  0 days 02:41:13.440000     36.6     False       47.8
162  0 days 02:42:13.432000     36.7     False       47.9
163  0 days 02:43:13.464000     36.7     False       47.6

[164 rows x 4 columns]

In [14]:
#Modificamos la columna de Time, para que solo nos muestre la hora y el minuto, esto es para
#que casen las keys al hacer el join y podamos tener info de la temperatura minuto a minuto en las vueltas
weather['Time'] = weather["Time"].apply(lambda x: x[7:12])
weather

      Time  AirTemp  Rainfall  TrackTemp
0    00:00     36.3     False       48.3
1    00:01     36.2     False       48.4
2    00:02     36.1     False       48.6
3    00:03     36.1     False       48.8
4    00:04     36.1     False       48.8
..     ...      ...       ...        ...
159  02:39     36.4     False       48.1
160  02:40     36.4     False       47.8
161  02:41     36.6     False       47.8
162  02:42     36.7     False       47.9
163  02:43     36.7     False       47.6

[164 rows x 4 columns]

In [15]:
#Hacemos lo mismo para la columa Time de las vueltas
laps_barcelona_alo['Time'] = laps_barcelona_alo['Time'].astype(str)
laps_barcelona_alo['Time'] = laps_barcelona_alo["Time"].apply(lambda x: x[7:12])
laps_barcelona_alo

,Time,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime
528,01:03,NaT,1,SOFT,1.0,True,2,1,NaT
529,01:05,0 days 00:01:30.932000,2,SOFT,2.0,True,1,1,NaT
530,01:06,0 days 00:01:30.573000,3,SOFT,3.0,True,1,1,NaT
531,01:08,0 days 00:01:29.627000,4,SOFT,4.0,True,1,1,NaT
532,01:09,0 days 00:01:29.174000,5,SOFT,5.0,True,1,1,NaT
...,...,...,...,...,...,...,...,...,...
588,02:33,0 days 00:01:27.384000,61,SOFT,10.0,False,1,4,NaT
589,02:35,0 days 00:01:27.719000,62,SOFT,11.0,False,1,4,NaT
590,02:36,0 days 00:01:27.421000,63,SOFT,12.0,False,1,4,NaT
591,02:38,0 days 00:01:28.493000,64,SOFT,13.0,False,1,4,NaT
592,02:39,0 days 00:01:28.270000,65,SOFT,14.0,False,1,4,NaT

In [16]:
#Hacemos el join para meter en el mismo dataset, la imformacion en cada vuelta de la temperatura ambiente y de la pista
laps_barcelona_alo = laps_barcelona_alo.set_index('Time').join(weather.set_index('Time'))

In [17]:
#Ahora tenemos las 64 vueltas que dio Alonso y la temperatura que hacia, necesitamos:
# - Posicion de salida

In [18]:
#Para la posicion de salida
posicion_salida = barcelona_race.get_driver("ALO")['GridPosition']
posicion_salida

20.0

In [19]:
#Necesitamos ahora los outputs, que es la siguiente vuelta a parar
vueltas_parada = laps_barcelona_alo[laps_barcelona_alo['PitInTime'].notna()]
vueltas_parada

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime,AirTemp,Rainfall,TrackTemp
Time,,,,,,,,,,,
01:17,0 days 00:01:34.566000,10,SOFT,10.0,True,1,1,0 days 01:17:24.820000,37.0,False,49.7
01:49,0 days 00:01:33.694000,31,MEDIUM,21.0,True,1,2,0 days 01:49:10.481000,37.1,False,49.5
02:21,0 days 00:01:31.991000,53,SOFT,22.0,True,1,3,0 days 02:21:49.753000,36.7,False,48.8

In [20]:
nVuelta_parada = vueltas_parada['LapNumber']
nParadas = 0
paradas = []
for i in nVuelta_parada:
    paradas.append(i)
    nParadas = nParadas + 1


print("El numero de paradas ha sido: ", nParadas)

print("Las paradas han sido en las vueltas: ", paradas)

El numero de paradas ha sido:  3
Las paradas han sido en las vueltas:  [10, 31, 53]

In [21]:
#Eliminanos la variable de la hora a la que entra a box porque ya no es necesaria
laps_barcelona_alo.drop(['PitInTime'], axis = 1, inplace=True)

In [22]:
laps_barcelona_alo

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,AirTemp,Rainfall,TrackTemp
Time,,,,,,,,,,
01:03,NaT,1,SOFT,1.0,True,2,1,36.6,False,49.3
01:05,0 days 00:01:30.932000,2,SOFT,2.0,True,1,1,36.7,False,49.4
01:06,0 days 00:01:30.573000,3,SOFT,3.0,True,1,1,36.9,False,49.4
01:08,0 days 00:01:29.627000,4,SOFT,4.0,True,1,1,37.0,False,49.5
01:09,0 days 00:01:29.174000,5,SOFT,5.0,True,1,1,37.0,False,49.3
...,...,...,...,...,...,...,...,...,...,...
02:33,0 days 00:01:27.384000,61,SOFT,10.0,False,1,4,36.5,False,47.9
02:35,0 days 00:01:27.719000,62,SOFT,11.0,False,1,4,36.5,False,48.0
02:36,0 days 00:01:27.421000,63,SOFT,12.0,False,1,4,36.4,False,48.0
02:38,0 days 00:01:28.493000,64,SOFT,13.0,False,1,4,36.4,False,48.1
02:39,0 days 00:01:28.270000,65,SOFT,14.0,False,1,4,36.4,False,48.1

In [23]:
#Ahora hay que añadir al dataframe las variables
# - Posicion de salida
# - Siguiente parada (dependera de la vuelta en la que se encuentre)
# - Todas variables del circuito en el que nos encontramos, en este caso Barcelona
# - No creo que haga falta el piloto, las estrategias son independientes del piloto (o eso voy a pensar... que no será asi)
circuito_actual = circuitos_desgaste.loc[circuitos_desgaste['Location/locality'] == 'Montmeló']
circuito_actual = circuito_actual.filter(['circuitName', 'desgaste', 'vueltas_totales', 'km_total'])
circuito_actual

                      circuitName desgaste vueltas_totales km_total
4  Circuit de Barcelona-Catalunya     Alto              66  307.104

In [24]:
#Hay que hacer una funcion para sacar el numero de vueltas (nVueltas) que se ha dado en ese circuito, y repetir nVueltas para crear una lista con el valor
nVueltasCircuito=laps_barcelona_alo.tail(1).LapNumber.values[0]
circuitName = circuito_actual.circuitName.values[0]
desgaste = circuito_actual.desgaste.values[0]
km_total = circuito_actual.km_total.values[0]
vueltas_totales = circuito_actual.vueltas_totales.values[0]
desgaste

'Alto'

In [25]:
#La salida se la tenemos que meter a todas las filas del dataframe
laps_barcelona_alo['posicionSalida'] = posicion_salida
laps_barcelona_alo['circuitName'] = circuitName
laps_barcelona_alo['desgasteCircuito'] = desgaste
laps_barcelona_alo['vueltasCircuito'] = km_total
laps_barcelona_alo['kmCircuitoTotales'] = vueltas_totales

laps_barcelona_alo

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,AirTemp,Rainfall,TrackTemp,posicionSalida,circuitName,desgasteCircuito,vueltasCircuito,kmCircuitoTotales
Time,,,,,,,,,,,,,,,
01:03,NaT,1,SOFT,1.0,True,2,1,36.6,False,49.3,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
01:05,0 days 00:01:30.932000,2,SOFT,2.0,True,1,1,36.7,False,49.4,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
01:06,0 days 00:01:30.573000,3,SOFT,3.0,True,1,1,36.9,False,49.4,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
01:08,0 days 00:01:29.627000,4,SOFT,4.0,True,1,1,37.0,False,49.5,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
01:09,0 days 00:01:29.174000,5,SOFT,5.0,True,1,1,37.0,False,49.3,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02:33,0 days 00:01:27.384000,61,SOFT,10.0,False,1,4,36.5,False,47.9,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
02:35,0 days 00:01:27.719000,62,SOFT,11.0,False,1,4,36.5,False,48.0,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
02:36,0 days 00:01:27.421000,63,SOFT,12.0,False,1,4,36.4,False,48.0,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
02:38,0 days 00:01:28.493000,64,SOFT,13.0,False,1,4,36.4,False,48.1,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66
02:39,0 days 00:01:28.270000,65,SOFT,14.0,False,1,4,36.4,False,48.1,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66

In [26]:
#Ahora hay que meter las paradas, habria que añadir una columna con la siguiente parada, dependiendo de la vuelta en la que se encuentre
paradas_list = paradas
paradas_list

[10, 31, 53]

In [27]:
#En cada intervalo de ventana de parada, se añade la siguiente parada de acuerdo con el numero de vuelta en el que vamos
#Es decir, del intervalo 1-9, el valor de la siguiente parada es 10, del 10-30, el valor es 31, y así
#NOTA: Cuando se hace la ultima parada, ¿cual debe ser el valor del la siguiente parada? ¿El numero de fin de vuelta?


inserciones = 1
paradasList_insertar = []
for i in paradas_list:
        while (inserciones <= i):
            paradasList_insertar.append(i)
            inserciones = inserciones + 1
            if (inserciones == paradas_list[nParadas-1]):
                while inserciones <= nVueltasCircuito:
                    paradasList_insertar.append(nVueltasCircuito)
                    inserciones = inserciones + 1
paradasList_insertar
len(paradasList_insertar)

65

In [28]:
#Insertamos la nueva columna
laps_barcelona_alo['nextPit'] = paradasList_insertar
laps_barcelona_alo

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,AirTemp,Rainfall,TrackTemp,posicionSalida,circuitName,desgasteCircuito,vueltasCircuito,kmCircuitoTotales,nextPit
Time,,,,,,,,,,,,,,,,
01:03,NaT,1,SOFT,1.0,True,2,1,36.6,False,49.3,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,10
01:05,0 days 00:01:30.932000,2,SOFT,2.0,True,1,1,36.7,False,49.4,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,10
01:06,0 days 00:01:30.573000,3,SOFT,3.0,True,1,1,36.9,False,49.4,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,10
01:08,0 days 00:01:29.627000,4,SOFT,4.0,True,1,1,37.0,False,49.5,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,10
01:09,0 days 00:01:29.174000,5,SOFT,5.0,True,1,1,37.0,False,49.3,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02:33,0 days 00:01:27.384000,61,SOFT,10.0,False,1,4,36.5,False,47.9,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,65
02:35,0 days 00:01:27.719000,62,SOFT,11.0,False,1,4,36.5,False,48.0,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,65
02:36,0 days 00:01:27.421000,63,SOFT,12.0,False,1,4,36.4,False,48.0,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,65
02:38,0 days 00:01:28.493000,64,SOFT,13.0,False,1,4,36.4,False,48.1,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,65
02:39,0 days 00:01:28.270000,65,SOFT,14.0,False,1,4,36.4,False,48.1,20.0,Circuit de Barcelona-Catalunya,Alto,307.104,66,65

En principio, ahora tenemos el dataset para:

- Un piloto
- En un gran premio
- Durante todas sus vueltas

In [29]:
laps_barcelona_alo.to_csv("../datasets/laps_barcelona_alo.csv", index=False)